.section-contacts {
    background-color: $grey;
    padding: 50px 0;

    .section-contacts-data {
        .section-contacts-data-item {
            width: 48%;

            .section-contacts-data-item-header {
                color: $white;
                font-family: "Montserrat";
                font-size: $extra-headers-size*0.75;
                margin-bottom: 50px;
                text-transform: uppercase;
            }

            .section-contacts-data-item-content {
                color: $white;
                margin-bottom: 50px;

                .content-row {
                    margin-bottom: 30px;

                    ul {
                        padding-inline-start: 20px;
                    }

                    .data-item {
                        margin-right: 40px;

                        img {
                            height: 20px;
                            margin-right: 5px;
                            width: auto;
                        }

                        a img {
                            height: 25px;
                        }

                        a {
                            color: $white;
                        }
                    }

                    .social {
                        margin-right: 10px;
                    }
                }

                .content-row:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .section-contacts-data-about {
            .section-contacts-data-item-header {
                color: $orange;
            }
        }

        .section-contacts-map {
            .mapouter {
                text-align: right;
                height: 500px;
                width: 100%;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 500px;
                width: 100%;

                iframe {
                    height: 500px;
                    width: 100%;

                    .place-card-large{
                        display: none;
                    }
                }
            }
        }
    }
}
