.section-start {
    background-color: rgba(77, 77, 77, 0.6);
    min-height: 400px;
    padding: 10% 0;

    .section-start-text-block {
        color: $white;
        font-family: 'Montserrat';
        font-size: $extra-headers-size;
        text-shadow: 0 3px 3px #151514;

        @media (max-width: 991.98px) {
            font-size: $headers-size*2;
            min-width: 80%;
        }

        .highlighted {
            color: $orange;
            text-transform: uppercase;
        }

        .section-start-text-block-divider {
            border-bottom: 2px solid $white;
            margin: 20px 0 10px 0;
            width: 75%;

            @media (max-width: 991.98px) {
                margin-bottom: 20px;
            }
        }

        .section-start-text-block-countries {
            @extend %ordinary-white-text;
            font-size: $headers-size;
            text-transform: uppercase;
            width: 75%;

            @media (max-width: 991.98px) {
                flex-direction: column;
            }
        }

        @media (max-width: 991.98px) {
            margin-bottom: 40px;
        }
    }

    .section-start-form-block {
        background-color: rgba(256, 256, 256, 0.5);
        padding: 40px 30px;
        min-width: 430px;

        @media (max-width: 991.98px) {
            min-width: 80%;
        }

        .section-start-form-block-header {
            @extend %ordinary-grey-text;
            font-weight: bold;
            padding-bottom: 10px;
            padding-right: 30px;
            text-transform: uppercase;

            .section-start-form-block-company {
                margin-right: 10px;

                img {
                    @include square-icon(50px);
                    padding-top: -5px;
                }
            }

            .section-start-form-block-real-estate {
                div:first-child {
                    color: $grey;
                    font-size: $headers-size;
                }
            }
        }

        .section-start-form-block-divider {
            border-top: 1px solid $grey;
            margin: 0 auto 10px auto;
            width: 80%;
        }

        .top-feedback-form-validation-message {
            color: #d44950;
            display: none;
            text-align: center;
        }

        .top-feedback-form {
            padding-top: 30px;

            .form-group {
                margin-bottom: 20px;

                .form-control {
                    border-radius: 0;
                }

                .submit-button {
                    @extend %submit-button;
                }
            }

            .btn-group {
                margin-bottom: 0;
            }
        }
    }
}
