%ordinary-text {
    font-family: "OpenSans";
    font-size: $plain-text-size;
}

%ordinary-black-text {
    color: $black;
    @extend %ordinary-text;
}

%ordinary-grey-text {
    color: $grey;
    @extend %ordinary-text;
}

%ordinary-white-text {
    color: $white;
    @extend %ordinary-text;
}

%ordinary-yellow-text {
    color: $yellow;
    font-family: "OpenSans";
    font-size: $headers-size;
}

%submit-button {
    @extend %ordinary-white-text;
    border: 0;
    border-radius: 0;
    background-color: $orange;
    text-transform: uppercase;
}
