@font-face {
    font-family: "Montserrat";
    src: url("fonts/montserratblack-webfont.ttf"),
         url("fonts/montserratblack-webfont.eot"),
         url("fonts/montserratblack-webfont.svg");
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Regular-webfont.ttf"), 
         url("fonts/OpenSans-Regular-webfont.eot"), 
         url("fonts/OpenSans-Regular-webfont.svg");
}