@font-face {
    font-family: "Montserrat";
    src: url("fonts/montserrat-bold-webfont.ttf"),
         url("fonts/montserrat-bold-webfont.eot"),
         url("fonts/montserrat-bold-webfont.svg");
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/opensans-regular-webfont.ttf"), 
         url("fonts/opensans-regular-webfont.eot"), 
         url("fonts/opensans-regular-webfont.svg");
}