@import 'fonts';
@import 'consts';
@import 'mixins';
@import 'extensions';

@import '_top-menu-section';
@import '_start-section';
@import '_info-sections';
@import '_contacts-sections';
@import '_catalog';

/*.catalog-content-section, .catalog-content-section div { border: 1px solid red;}*/

a, a:hover, a:active, a:visited {
    cursor: pointer;
    text-decoration: none;
}

textarea {
    resize: none;
}

.container-fluid {
    cursor: default;
}

.mapouter {
    background-color: rgba(77, 77, 77, 0.5);
    height: 400px;
    overflow: hidden;
    width: 100%;
    z-index: 25;
}

.gmap_canvas {
    height: 400px;
    width: 100%;
}